{% extends 'base.html' %}
{% block content %}
<div class="container2 container special-container">
<h2>You have logged out</h2>
    <div class="content-section">
        <div class ="border-top pt3 text-muted">
            Login again<a href="{% url 'users:login' %}"> here</a>
        </div>
    </div>
</div>
{% endblock content %}