{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">    
      <div class="container special-container">
          <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
              <fieldset class="form-group form-style">
                  <legend class = "border-bottom mb-4">Profile Info</legend>
                  {{ form_1|crispy }}
                  {{ form_2|crispy }}
              </fieldset>
              <div class="form-group form-style">
                  <button class="btn btn-dark bg-custom" type='submit'>Update</button>
              </div>
          </form>
      </div>
    </div>
{% endblock content %} 