{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container special-container">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group form-style">
                <legend class = "border-bottom mb-4">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group form-style">
                <button class="btn btn-dark bg-custom" type="submit">Sign Up</button>
                <p class='pt-2'>Users created : {{ usercount }}</p>
            </div>
        </form>
        <div class ="border-top pt3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}