{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% block page_title %}
{% endblock page_title %}
{% endblock meta %}

{% block content %}
  <div class="container" style="text-align: center;">
    <div class="home-container">
      <a href="{% url 'form:add' %}">Post what you think...</a> <!--link to create post-->
    </div>
    {% if postingan1.count_post == 0 %}
      <div class="home-container">
        <h4>Nothing here. Add the new post.</h4>
      </div>
    {% endif %}
    {% for id,vals in postingan1.postingan.items %}
      {% for val,post in vals.items %}
      <div class="home-container">
        <h4>{{ post.title }}</h4>
        <h5 style="color: #b4b4b4;">{{ post.author.username }}. {{ post.time }}</h5>
        <br>
        <h5>{{ post.content }}</h5>
      </div>
      {% endfor %}
        <div style="text-align: right; display: flex;">
          <a href="">Detail post</a>
          {% if val.liked == True %}
            <a href="{% url 'main:kudos' id %}">Liked!</a>
          {% else %}
            <a href="{% url 'main:kudos' id %}">Like it!</a>
          {% endif %}
          <h5>{{ val.kudos }}</h5>
        </div>
    {% endfor %}
  </div>
{% endblock content %}